<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(@user) %>
      <p>Username: <%= Helpers.current_user(@user).name%> </p>
      <p>Balance: <%= Helpers.current_user(@user).balance.to_s%> </p>
    <% else %>
      <p><a href = 
      

  </body>
</html>
